<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socialmap.android.client">

    <!-- Permissions -->
    <!-- Contacts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Google Map -->
    <permission
        android:name="com.socialmap.android.client.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.socialmap.android.client.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- The following two permissions are not required to use
         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- For google map -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCKjGxa0XgHrI0pYxu5RQ4B5tEpSRNZG7k" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Activities registration here -->
        <activity
            android:name=".main.MainActivity"
            android:label="@string/activity_main_label"
            android:logo="@drawable/ic_main_activity_logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.socialmap.android.client.LocationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".help.HelpActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".MyInformationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".MyFriendsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".MyTeamActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".friend.FriendActivity"
            android:label="@string/activity_friend_label" />
        <activity
            android:name=".box.BoxActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".NewMessageActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".MySetting"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings_label" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".friend.FriendDetailsActivity"
            android:logo="@drawable/ic_back"/>
    </application>


</manifest>
